<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
    <string>ca-app-pub-3940256099942544/2934735716</string>
    <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
    <string>ca-app-pub-3940256099942544/4411468910</string>
    <key>CLIENT_ID</key>
    <string>860109241512-s4usv8gls1am6pp693srb0thdtv1qlr2.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.860109241512-s4usv8gls1am6pp693srb0thdtv1qlr2</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>860109241512-q5q119qci7me5j85moh70c9c3q0mdtuo.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyARFcx3ZAcRZmg5Q4wGAPOxmUj4SrC6BdU</string>
    <key>GCM_SENDER_ID</key>
    <string>860109241512</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.dentacoin.dentacare-app</string>
    <key>PROJECT_ID</key>
    <string>dentacare-175811</string>
    <key>STORAGE_BUCKET</key>
    <string>dentacare-175811.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <true></true>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:860109241512:ios:6da47fd8fb5bbf98</string>
    <key>DATABASE_URL</key>
    <string>https://dentacare-175811.firebaseio.com</string>
</dict>
</plist>
